.contenedor{
    display:inline-flex;
    -ms-grid-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
            )
    );
    gap: 84px;
}

.imagen{
    border-radius: 8px;
    width: 244.34px;
    height: 128.91px;
    box-shadow: 0px 0px 30px black;
}